@{
    ViewBag.Title = "Home Page";
}

<h1>Student Budget Calculator</h1>


<div class="row">
    <div class="col-md-4">
        <h2>Budget Tips</h2>
        <p>
            Click to find out how to stretch your money further.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Tips &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Student Deals</h2>
        <p>
            Deals, Deals, Deals! Who's got them?
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Deals &raquo;</a></p>
    </div>

    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your applications.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>